.filter-container {
  display: inline-block;
  margin-left: 80px;
  position: relative;
}
.filter-input {
  width: 280px;
  height: 24px;
  padding: 0.5rem;
  padding-right: 2rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  color: black;
  border: #f0f0f0;
}
.filter-input:focus {
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 3px #cccccce4;
}
.filter-input::placeholder {
  color: #ccc;
}

.filter-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
