.filter-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  position: relative;
}
.filter-input {
  width: 200px;
  padding: 0.5rem;
  padding-left: 2rem;
  background-color: transparent;
  border-radius: 30px;
  color: white;
  border: 1px solid #ccc;
}
.filter-input:focus {
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 3px #cccccce4;
}
.filter-input::placeholder {
  color: #ccc;
}

.filter-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
