.screenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.studentInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.paymentsContainer {
  width: 100%;
}

.paymentsContainer table {
  width: 100%;
}